---
import { t, changeLanguage } from "i18next";
import InnerLayout from "@layouts/InnerLayout.astro";
import contactUsJson from "@data/contact-us.json";
import WriteIcon from "@assets/WriteIcon.astro";
import UserIcon from "@assets/UserIcon.astro";
import MobileIcon from "@assets/MobileIcon.astro";
import EmailIcon from "@assets/EmailIcon.astro";
import WhatsAppIcon from "@assets/WhatsAppIcon.astro";
import LocationIcon from "@assets/LocationIcon.astro";
import ContactForm from "@components/ContactForm.astro";

changeLanguage("zh");

const contacts = [
    {
        Icon: UserIcon,
        text: `Contact: ${contactUsJson.contact}`,
    },
    {
        Icon: MobileIcon,
        text: `Mobile: ${contactUsJson.liao}`,
    },
    {
        Icon: EmailIcon,
        text: `Email: ${contactUsJson.email}`,
    },
    {
        Icon: WhatsAppIcon,
        text: `Whatsapp: ${contactUsJson.whatsApp}`,
    },
    {
        Icon: LocationIcon,
        text: `Address: ${contactUsJson.address}`,
    },
];
---

<InnerLayout bannerSrc="/images/contact-us.png" bannerAlt="contact-us">
  <section class="container flex flex-wrap py-8">
    <!-- Left -->
    <section class="w-full lg:w-1/2">
      <header>
        <h4 class="text-xl text-p">{t(`site:title`)}</h4>
      </header>

      <section class="mt-8 px-2">
        <ul class="space-y-4">
          {
            contacts.map((contact) => {
              const { Icon, text } = contact;
              return (
                <li class="flex items-center">
                  <div class="w-8 h-8">
                    <Icon />
                  </div>

                  <p class="flex-1 pl-2">{text}</p>
                </li>
              );
            })
          }
        </ul>
      </section>
    </section>

    <!-- Right -->
    <section class="w-full mt-8 lg:mt-0 lg:w-1/2">
      <header
        class="flex px-4 py-2 rounded-lg bg-gray-100 items-center justify-evenly"
      >
        <div class="w-12 h-12">
          <WriteIcon />
        </div>

        <div class="pl-2">
          <p>
            Please submit your basic information, we will contact you as soon as
            possible!
          </p>
        </div>
      </header>

      <section class="px-0 p-8 lg:px-8">
        <ContactForm />
      </section>
    </section>
  </section>
</InnerLayout>
