---
import InnerSideLayout from "@layouts/InnerSideLayout.astro";
import productsJson from "@data/products.json";
import { Img } from "astro-imagetools/components";
import { t, changeLanguage } from "i18next";
import { utilAddLocalePathname } from "@services/utilService";

changeLanguage("zh");

const products = productsJson.contents;
---

<InnerSideLayout
  navlinks={productsJson.navlinks}
  bannerSrc="/images/products.png"
  bannerAlt="products"
  subtitle="Products"
>
  <ul class="flex flex-wrap -mx-2 overflow-hidden">
    {
      products.map((product) => {
        const featuredImgSrc = product.images[0];
        const category = product.category[0];
        const subCategory = product.subCategory[0] ?? "all";
        return (
          <li class="w-1/4 p-2">
            <a
              href={utilAddLocalePathname({
                pathname: `/products/${category}/${subCategory}/${product.slug}`,
              })}
              class="block w-full"
            >
              <figure class="border border-gray-300 bg-gray-300 transition hover:border-p hover:bg-p hover:text-white">
                <div class="relative pb-[125%]">
                  <div class="absolute w-full h-full top-0">
                    {featuredImgSrc && <Img src={featuredImgSrc} alt="test" />}
                  </div>
                </div>

                <figcaption class="text-center py-2 font-medium">
                  <p>{t(`products:${product.slug}`)}</p>
                </figcaption>
              </figure>
            </a>
          </li>
        );
      })
    }
  </ul>
</InnerSideLayout>
