---
import { t, changeLanguage } from "i18next";
import InnerLayout from "@layouts/InnerLayout.astro";
import contactUsJson from "@data/contact-us.json";
import UserIcon from "@assets/UserIcon.astro";
import MobileIcon from "@assets/MobileIcon.astro";
import EmailIcon from "@assets/EmailIcon.astro";
import WhatsAppIcon from "@assets/WhatsAppIcon.astro";
import LocationIcon from "@assets/LocationIcon.astro";
import ContactForm from "@components/ContactForm.astro";

changeLanguage("en");

const contacts = [
    {
        Icon: UserIcon,
        text: `${t("contact")}: ${contactUsJson.contact}`,
    },
    {
        Icon: MobileIcon,
        text: `${t("mobile")}: ${contactUsJson.liao}`,
    },
    {
        Icon: EmailIcon,
        text: `${t("email")}: ${contactUsJson.email}`,
    },
    {
        Icon: WhatsAppIcon,
        text: `WhatsApp: ${contactUsJson.whatsApp}`,
    },
    {
        Icon: LocationIcon,
        text: `${t("address")}: ${contactUsJson.address}`,
    },
];
---

<InnerLayout bannerSrc={t("banners:contact-us")} bannerAlt="contact-us">
  <section class="container flex flex-wrap py-8">
    <!-- Left -->
    <section class="w-full lg:w-1/2">
      <header>
        <h4 class="text-xl text-p">{t(`site:title`)}</h4>
      </header>

      <section class="mt-8 px-2">
        <ul class="space-y-4">
          {
            contacts.map((contact) => {
              const { Icon, text } = contact;
              return (
                <li class="flex items-center">
                  <div class="w-8 h-8">
                    <Icon />
                  </div>

                  <p class="flex-1 pl-2">{text}</p>
                </li>
              );
            })
          }
        </ul>
      </section>
    </section>

    <!-- Right -->
    <section class="w-full mt-8 lg:mt-0 lg:w-1/2">
      <ContactForm />
    </section>
  </section>

  <section class="container mb-8">
    <div class="relative pb-[50%]">
      <iframe
        class="w-full h-full absolute"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1840.6274652259187!2d114.07309720784227!3d22.681551914878057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34038bc074d3d719%3A0x3414377b3034646b!2sLonghua%20District%2C%20Shenzhen%2C%F%2C%20Guangdong%20Province%2C%20China%2C%20518111!5e0!3m2!1sen!2sph!4v1694143986423!5m2!1sen!2sph"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
</InnerLayout>
