---
import { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import { Img } from "astro-imagetools/components";
import productsJson from "@data/products.json";
import { utilAddLocalePathname } from "@services/utilService";
import EyeIcon from "@assets/EyeIcon.astro";

changeLanguage("en");

const productCategories = productsJson.navlinks;
const protectionProducts = [
    {
        name: "face-shields",
        href: "/products/full-face-shields",
        imgSrc: "/images/products/full-face-shields/1.jpeg",
    },
    {
        name: "kids-goggles",
        href: "/products/kids-goggles",
        imgSrc: "/images/products/kids-goggles/kids-goggles-1.jpeg",
    },
    {
        name: "adult-goggles",
        href: "/products/adult-goggles",
        imgSrc: "/images/products/adult-goggles/adult-goggles-1.jpeg",
    },
    {
        name: "kids-face-shields",
        href: "/products/kids-face-shields",
        imgSrc: "/images/products/face-shields/kids-face-shield-1.jpeg",
    },
];
---

<Layout>
  <section>
    <Img src="/images/home/hero-2.jpeg" alt="hero-1" />
  </section>

  <hr class="border-dashed my-8 border-gray-300" />

  <section class="container my-8">
    <figure class="flex">
      <div class="flex">
        <div class="w-4 border-l-2 border-t-2 border-gray-500"></div>

        <header class="self-center text-p font-bold text-center">
          <h3 class="text-5xl">ABOUT</h3>
          <p class="text-2xl">DONGKE</p>
        </header>

        <div class="w-4 border-r-2 border-b-2 border-gray-500"></div>
      </div>

      <figcaption class="pl-8">
        <ul>
          <li>
            1. Dongke Industrial development company is the professional PPE
            manufacturer, and produce the first face shield in Shenzhen.
          </li>

          <li>
            2. We had donated face shields and goggles to nearly 100 hospitals
            including Wuhan, Beijing, Shenzhen, Philippines, Spain, etc. And we
            donate tens of thousands of face shields to refugees in the Middle
            East.
          </li>

          <li>
            3. We have more than 20 customer service and purchasing teams，30
            Professional QCs and more than 50 skilled worker. We could finish
            all the orders from the clients.
          </li>

          <li>
            4. We could provide the packaging products (paper box, plastic box,
            hagtag, adhesive tag) Looking forward to cooperating with you and
            striving for customer orders together, Dongke will try our best to
            help you!
          </li>
        </ul>
      </figcaption>
    </figure>
  </section>

  <section class="bg-gray-100 py-8">
    <section class="flex container">
      <aside class="w-72 flex flex-col">
        <header class="text-center bg-p p-2 text-white">
          <span class="text-7xl">D.K.</span>
          <h2 class="text-xl uppercase">PRODUCT CATEGORIES</h2>
        </header>

        <section class="border-x border-b flex-1">
          <ul class="px-2 py-4 space-y-2">
            {
              productCategories.map((productCategory) => {
                const { name, pathname } = productCategory;
                return (
                  <li>
                    <a
                      class="px-4 py-2 block bg-slate-700 text-white rounded-md transition hover:bg-p"
                      href={utilAddLocalePathname({ pathname })}
                    >
                      {t(name)}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </section>
      </aside>

      <section class="flex-1 px-4 space-y-4">
        <section>
          <Img src="/images/home/product-1.jpeg" alt="product-1" />
        </section>

        <ul class="flex space-x-4">
          {
            protectionProducts.map((product) => {
              const name = t(`${product.name}`);

              return (
                <li class="w-1/4">
                  <figure>
                    <div>
                      <Img src={product.imgSrc} alt={name} />
                    </div>

                    <figcaption class="text-center mt-4">
                      <p>{name}</p>

                      <footer class="mt-2">
                        <button class="flex px-4 py-0.5 border-gray-400 mx-auto items-center space-x-2 border rounded-md transition hover:text-p">
                          <div class="w-5 h-5">
                            <EyeIcon />
                          </div>
                          <span>Detail</span>
                        </button>
                      </footer>
                    </figcaption>
                  </figure>
                </li>
              );
            })
          }
        </ul>
      </section>
    </section>
  </section>
</Layout>
