---
import InnerSideLayout from "@layouts/InnerSideLayout.astro";
import { getCollection } from "astro:content";
import i18next, { changeLanguage } from "i18next";
import { Img } from "astro-imagetools/components";
import { utilAddLocalePathname } from "@services/utilService";

changeLanguage("zh");

const navlinks = [
    {
        name: "company-news",
        pathname: "/news/company-news",
    },
    {
        name: "industry-information",
        pathname: "/news/industry-information",
    },
];
let newsCollection = await getCollection("news");
newsCollection = newsCollection.filter((news) => {
    return news.slug.startsWith(i18next.language);
});
---

<InnerSideLayout
  navlinks={navlinks}
  subtitle="news"
  bannerSrc="/images/news.jpeg"
  bannerAlt="news"
>
  <section>
    <ul class="py-2 divide-y divide-dashed">
      {
        newsCollection.map((news) => {
          const { data, slug } = news;
          const { image, title, summary, type } = data;
          const pathname = `/news/${type ? `${type}/` : ""}${slug.slice(3)}`;

          return (
            <li class="py-2">
              <figure class="flex flex-wrap">
                <a
                  href={utilAddLocalePathname({ pathname })}
                  class="block w-full lg:w-56"
                >
                  <div>
                    <Img src={image} alt={title} />
                  </div>
                </a>

                <figcaption class="flex-1 space-y-4 mt-4 lg:mt-0 lg:pl-4">
                  <header>
                    <h3 class="font-bold transition hover:text-p">
                      <a href={utilAddLocalePathname({ pathname })}>{title}</a>
                    </h3>
                  </header>

                  <section>
                    <p class="text-sm text-gray-500">{summary}</p>
                  </section>

                  <footer class="flex w-full justify-end">
                    <a
                      href={utilAddLocalePathname({ pathname })}
                      class="block px-8 py-2 text-sm bg-p text-white"
                    >
                      See more
                    </a>
                  </footer>
                </figcaption>
              </figure>
            </li>
          );
        })
      }
    </ul>
  </section>
</InnerSideLayout>
