---
import { Img } from "astro-imagetools/components";
import XmlIcon from "@assets/XmlIcon.astro";
import SitemapIcon from "@assets/SitemapIcon.astro";
import RssIcon from "@assets/RssIcon.astro";
import WriteIcon from "@assets/WriteIcon.astro";
import {
  utilAddLocalePathname,
  utilRemoveLocalePathname,
} from "@services/utilService";

const { pathname } = Astro.url;

const languages = [
  {
    name: "中文版",
    flag: "/images/flags/chinese.webp",
    url: utilAddLocalePathname({
      pathname: utilRemoveLocalePathname({ pathname }),
      locale: "zh",
    }),
  },
  {
    name: "English",
    flag: "/images/flags/english.png",
    url: utilAddLocalePathname({
      pathname: utilRemoveLocalePathname({ pathname }),
      locale: "en",
    }),
  },
];

const links = [
  {
    name: "XML",
    Icon: XmlIcon,
    url: "/sitemap.xml",
  },
  {
    name: "Sitemap",
    Icon: SitemapIcon,
    url: "/sitemap.xml",
  },
  {
    name: "RSS",
    Icon: RssIcon,
    url: "/rss.xml",
  },
  {
    name: "Leave a message",
    Icon: WriteIcon,
    url: "/message",
  },
];
---

<section class="bg-[#333] text-white py-2 text-sm">
  <div class="container flex justify-between items-center">
    <!-- Left -->
    <p>Welcome to Dongke (Shenzhen) Industrial Development Co.,Ltd.</p>

    <!-- Right -->
    <div class="flex space-x-4">
      <!-- Links -->
      <ul class="flex space-x-2">
        {
          links.map((link) => {
            const { Icon, name, url } = link;
            return (
              <li>
                <a href={url} class="space-x-1 flex items-center">
                  <div class="h-4 w-4">{<Icon />}</div>

                  <p>{name}</p>
                </a>
              </li>
            );
          })
        }
      </ul>

      <!-- Languages -->
      <ul class="flex space-x-2">
        {
          languages.map(({ name, flag, url }) => (
            <li>
              <a href={url} class="flex space-x-1 items-center">
                <div class="w-8">
                  <Img breakpoints={[50]} src={flag} alt={`${name} Flag`} />
                </div>

                <p>{name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
