---
import InnerLayout from "./InnerLayout.astro";
import type { LayoutProps } from "./Layout.astro";
import { Img } from "astro-imagetools/components";
import contactUsJson from "@data/contact-us.json";
import { t } from "i18next";
import {
  utilAddLocalePathname,
  utilRemoveLocalePathname,
} from "@services/utilService";

type Props = {
  navlinks: { name: string; pathname: string }[];
  bannerSrc: string;
  bannerAlt: string;
  subtitle?: string;
} & LayoutProps;

let { pathname: astroPathname } = Astro.url;
astroPathname = utilRemoveLocalePathname({ pathname: astroPathname });

const props = Astro.props as Props;
---

<InnerLayout {...props}>
  <section class="flex container py-4">
    <aside class="w-64 space-y-4">
      <!-- Navigation -->
      <section class="rounded-t-sm overflow-hidden">
        <header class="bg-p py-2 px-4 text-white text-lg capitalize">
          <h3>{t(props.bannerAlt)}</h3>
        </header>

        <nav class="border">
          <ul class="divide-y divide-gray-300">
            {
              props.navlinks.map((navlink) => {
                const { name, pathname } = navlink;
                return (
                  <li>
                    <a
                      href={utilAddLocalePathname({ pathname })}
                      class={`bg-gray-100 block px-4 py-2 transition ${
                        astroPathname.startsWith(pathname)
                          ? "text-p bg-white"
                          : ""
                      } hover:bg-white hover:text-p`}
                    >
                      {t(name)}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </nav>
      </section>

      <!-- Contact Us -->
      <section class="rounded-t-sm overflow-hidden">
        <header class="bg-p py-2 px-4 text-white text-lg">
          <h3>{t("contact-us")}</h3>
        </header>

        <section class="border py-2 px-3 text-sm">
          <ul class="space-y-2">
            <li>Manager Liao: {contactUsJson.liao}</li>
            <li>Manager Zhang: {contactUsJson.zhang}</li>
            <li>
              Email:
              <a href={`mailto:${contactUsJson.email}`}>{contactUsJson.email}</a
              >
            </li>
            <li>
              {contactUsJson.address}
            </li>
          </ul>

          <footer>
            <a class="">
              <Img src="/images/alibaba.jpeg" alt="Alibaba" />
            </a>
          </footer>
        </section>
      </section>
    </aside>

    <section class="flex-1 px-4">
      {
        props.subtitle && (
          <header class="border-b pb-2">
            <h2 class="capitalize text-2xl">{t(props.subtitle)}</h2>
          </header>
        )
      }

      <section>
        <slot />
      </section>
    </section>
  </section>
</InnerLayout>
