---
import InnerLayout from "./InnerLayout.astro";
import type { LayoutProps } from "./Layout.astro";
import { Img } from "astro-imagetools/components";
import contactUsJson from "@data/contact-us.json";
import { t } from "i18next";
import { utilRemoveLocalePathname } from "@services/utilService";
import SideNavItem from "@components/SideNavItem.astro";
import CaretIcon from "@assets/CaretIcon.astro";

type Navlink = {
  name: string;
  pathname: string;
};

type Props = {
  navlinks: (Navlink & { children?: Navlink[] })[];
  bannerSrc: string;
  bannerAlt: string;
  subtitle?: string;
} & LayoutProps;

let { pathname: astroPathname } = Astro.url;
astroPathname = utilRemoveLocalePathname({ pathname: astroPathname });

const props = Astro.props as Props;
---

<InnerLayout {...props}>
  <section class="flex container py-4">
    <aside
      class="w-64 space-y-4 shrink-0 sticky top-20 border self-start hidden md:block"
    >
      <!-- Navigation -->
      <section class="rounded-t-sm overflow-hidden">
        <header class="bg-p py-2 px-4 text-white text-lg capitalize">
          <h3>{t(props.bannerAlt)}</h3>
        </header>

        <nav class="border">
          <ul class="divide-y divide-gray-300">
            {
              props.navlinks.map((navlink) => {
                return (
                  <li>
                    <SideNavItem navlink={navlink} />
                  </li>
                );
              })
            }
          </ul>
        </nav>
      </section>

      <!-- Contact Us -->
      <section class="rounded-t-sm overflow-hidden">
        <header class="bg-p py-2 px-4 text-white text-lg">
          <h3>{t("contact-us")}</h3>
        </header>

        <section class="border py-2 px-3 text-sm">
          <ul class="space-y-2">
            <li>Manager Liao: {contactUsJson.liao}</li>
            <li>Manager Zhang: {contactUsJson.zhang}</li>
            <li>
              Email:
              <a href={`mailto:${contactUsJson.email}`}>{contactUsJson.email}</a
              >
            </li>
            <li>
              {contactUsJson.address}
            </li>
          </ul>

          <footer>
            <a class="">
              <Img src="/images/alibaba.jpeg" alt="Alibaba" />
            </a>
          </footer>
        </section>
      </section>
    </aside>

    <section class="flex-1 w-1/2 md:pl-4">
      {
        props.subtitle && (
          <header class="border-b pb-2 flex justify-between bg-white">
            <h2 class="capitalize text-2xl">{t(props.subtitle)}</h2>

            <button
              data-mobile-submenu-btn
              class="w-8 h-8 transition md:hidden"
            >
              <CaretIcon />
            </button>
          </header>
        )
      }

      <section class={`relative z-[2] md:hidden`}>
        <div
          data-mobile-submenu
          class="absolute w-full transition-all shadow bg-white grid grid-rows-[0fr]"
        >
          <ul class="overflow-hidden divide-y">
            {
              props.navlinks.map((navlink) => {
                return (
                  <li>
                    <SideNavItem navlink={navlink} />
                  </li>
                );
              })
            }
          </ul>
        </div>
      </section>

      <section>
        <slot />
      </section>
    </section>
  </section>
</InnerLayout>

<script>
  const button = document.querySelector("[data-mobile-submenu-btn]");
  const submenu = document.querySelector("[data-mobile-submenu]");

  button?.addEventListener("click", () => {
    submenu?.classList.toggle("grid-rows-[1fr]");
    submenu?.classList.toggle("grid-rows-[0fr]");
    button?.classList.toggle("rotate-180");
  });
</script>
